[user]
	name = arilebedey
	email = 34816154+arilebedey@users.noreply.github.com
[init]
	defaultBranch = main
[delta]
    true-color = always
    syntax-theme = "Visual Studio Dark+"
    plus-style = syntax "#283b4d"
    minus-style = syntax "#3d3828"
    plus-emph-style = syntax "#316172"
    minus-emph-style = syntax "#725631"
[pull]
	ff = only
[fetch]
  writeHead = false
